Fabio Gustavo Gomes Vaz <br> RA: 00282997

Pontif√≠cia Universidade Cat√≥lica de S√£o Paulo 

`Ci√™ncia de Dados e Intelig√™ncia Artificial`

#üéì Aula 13 - K-Means
11 de novembro de 2021


---
> üë®‚Äçüè´*Professor Rooney Coelho (rracoelho@pucsp.br)*
---

## Introdu√ß√£o

Existem muitos modelos de **clustering** dispon√≠veis. Neste notebook estaremos apresentando o modelo que √© considerado o mais simples entre eles. Apesar de sua simplicidade, o **K-means** √© amplamente usado para realizar agrupamentosem muitas aplica√ß√µes de ci√™ncia de dados, e √© especialmente √∫til se voc√™ precisar descobrir rapidamente insights de **dados n√£o rotulados**. Neste exerc√≠cio, voc√™ aprende como usar k-Means para segmenta√ß√£o de clientes.

Algumas aplica√ß√µes do mundo real de k-means:
- Segmenta√ß√£o de clientes
- Entender o que os visitantes de um site est√£o tentando realizar
- Reconhecimento de padr√µes
- Aprendizado de m√°quina
- Compress√£o de dados

### Segmenta√ß√£o de clientes com K-Means

Imagine que voc√™ tenha um conjunto de dados do cliente e precise aplicar a segmenta√ß√£o do cliente a esses dados hist√≥ricos. A segmenta√ß√£o de clientes √© a pr√°tica de particionar uma base de clientes em grupos de indiv√≠duos com caracter√≠sticas semelhantes. √â uma estrat√©gia significativa, pois uma empresa pode ter como alvo esses grupos espec√≠ficos de clientes e alocar recursos de marketing de forma eficaz. Por exemplo, um grupo pode conter clientes de alto lucro e baixo risco, ou seja, mais propensos a comprar produtos ou assinar um servi√ßo. Uma tarefa empresarial √© reter esses clientes. Outro grupo pode incluir clientes de organiza√ß√µes sem fins lucrativos. E assim por diante.

In [57]:
# Execute este bloco para satisfazer as depend√™ncias
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans 

import random # setar a semente

In [58]:
np.random.seed(123) # execute esse bloco para poder reproduzir seus resultados posteriormente, use exatamente as mesmas etapas para isto!

In [59]:
# Importe a base de dados executando este bloco
df = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/Cust_Segmentation.csv')
df.head()

   Customer Id  Age  Edu  ...  Defaulted  Address  DebtIncomeRatio
0            1   41    2  ...        0.0   NBA001              6.3
1            2   47    1  ...        0.0   NBA021             12.8
2            3   33    2  ...        1.0   NBA013             20.9
3            4   29    2  ...        0.0   NBA009              6.3
4            5   47    1  ...        0.0   NBA008              7.2

[5 rows x 10 columns]

1) Remova a chave prim√°ria 'Customer Id' e o campo de texto 'Address'. Esses valores n√£o s√£o features para nosso problema.

In [60]:
df = df.drop(columns=['Customer Id', 'Address'])

In [61]:
df.head()

   Age  Edu  Years Employed  ...  Other Debt  Defaulted  DebtIncomeRatio
0   41    2               6  ...       1.073        0.0              6.3
1   47    1              26  ...       8.218        0.0             12.8
2   33    2              10  ...       5.802        1.0             20.9
3   29    2               4  ...       0.516        0.0              6.3
4   47    1              31  ...       8.908        0.0              7.2

[5 rows x 8 columns]

2) A coluna Defaulted cont√©m valores faltantes, substitua todos esses valores pelo n√∫mero de maior frequ√™ncia. Converta depois a colunas para inteiro.

In [62]:
def_mode =  df['Defaulted'].mode()[0]
df['Defaulted'] = df['Defaulted'].replace(np.nan, def_mode)
pd.to_numeric(df['Defaulted'])

0      0.0
1      0.0
2      1.0
3      0.0
4      0.0
      ...
845    0.0
846    0.0
847    1.0
848    0.0
849    0.0
Name: Defaulted, Length: 850, dtype: float64

In [63]:
df.head()

   Age  Edu  Years Employed  ...  Other Debt  Defaulted  DebtIncomeRatio
0   41    2               6  ...       1.073        0.0              6.3
1   47    1              26  ...       8.218        0.0             12.8
2   33    2              10  ...       5.802        1.0             20.9
3   29    2               4  ...       0.516        0.0              6.3
4   47    1              31  ...       8.908        0.0              7.2

[5 rows x 8 columns]

3)  Normalizando sobre o desvio padr√£o
Agora vamos normalizar o conjunto de dados. Mas por que precisamos de normaliza√ß√£o em primeiro lugar? A normaliza√ß√£o √© um m√©todo estat√≠stico que ajuda algoritmos que envolvem c√°lculos de dist√¢ncias a interpretar recursos com diferentes magnitudes e distribui√ß√µes de forma equalit√°ria. Usamos o __StandardScaler()__ para normalizar nosso conjunto de dados.

* Normalize os dados e salve na vari√°vel `X`, note que ela √© um objeto do numpy.

In [81]:
X = scaler.fit_transform(df)

Para validar o procedimento feito pegue todos os dados da primeira coluna (use fatiamento do array) e calcule sua m√©dia e desvio padr√£o.

In [83]:
X[:,0:1]

array([[ 0.74291541,  0.31212243, -0.37878978, ..., -0.59048916,
        -0.52379654, -0.57652509],
       [ 1.48949049, -0.76634938,  2.5737211 , ...,  1.51296181,
        -0.52379654,  0.39138677],
       [-0.25251804,  0.31212243,  0.2117124 , ...,  0.80170393,
         1.90913822,  1.59755385],
       ...,
       [-1.24795149,  2.46906604, -1.26454304, ...,  0.03863257,
         1.90913822,  3.45892281],
       [-0.37694723, -0.76634938,  0.50696349, ..., -0.70147601,
        -0.52379654, -1.08281745],
       [ 2.1116364 , -0.76634938,  1.09746566, ...,  0.16463355,
        -0.52379654, -0.2340332 ]])

Em nosso exemplo (se n√£o tiv√©ssemos acesso ao algoritmo k-means), seria o mesmo que adivinhar que cada grupo de clientes teria certa idade, renda, escolaridade, etc, com v√°rios testes e experimentos. No entanto, usando o cluster K-means podemos fazer todo esse processo muito mais f√°cil.

Vamos aplicar k-means em nosso conjunto de dados e dar uma olhada nos r√≥tulos do cluster.

### Configurando o K-means
A classe KMeans tem muitos par√¢metros que podem ser usados, mas usaremos estes tr√™s:
<ul>
     <li> <b> init </b>: M√©todo de inicializa√ß√£o dos centr√≥ides. </li>
     <ul>
         <li> O valor ser√°: "k-means ++" </li>
         <li> k-means ++: Seleciona os centros de cluster iniciais para o cluster k-mean de uma forma inteligente para acelerar a converg√™ncia. Este √© o algoritmo padr√£o da biblioteca. </li>
     </ul>
     <li> <b> n_clusters </b>: O n√∫mero de clusters a serem formados, bem como o n√∫mero de centr√≥ides a serem gerados. </li>
     <li> <b> n_init </b>: N√∫mero de vezes que o algoritmo k-means ser√° executado com diferentes sementes de centr√≥ide. Os resultados finais ser√£o o melhor resultado de n_init execu√ß√µes consecutivas em termos de in√©rcia. </li>
</ul>

4) Configure e treine o algoritmo K-means para 3 clusters e utilize 12 inicializa√ß√µes distintas.

In [96]:
kmeans = KMeans(n_clusters=3, n_init = 12).fit(X)

Imprima os r√≥tulos de cada cliente:

In [99]:
kmeans.labels_

array([0, 1, 2, 0, 1, 1, 0, 0, 0, 1, 2, 0, 0, 0, 2, 0, 0, 0, 1, 0, 0, 0,
       2, 1, 1, 0, 0, 0, 0, 0, 0, 1, 2, 0, 0, 0, 2, 2, 0, 1, 2, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 2, 0, 2, 2, 2, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 2, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 2, 1, 0, 1, 0, 0, 0,
       2, 2, 0, 0, 2, 2, 0, 0, 0, 0, 2, 0, 2, 1, 0, 2, 2, 1, 0, 0, 0, 0,
       0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 0, 0, 1, 0, 0, 2, 0, 0, 0, 1, 2, 0,
       0, 0, 0, 1, 2, 2, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 2, 0, 2,
       0, 0, 2, 1, 2, 0, 0, 1, 2, 1, 0, 0, 0, 0, 0, 1, 0, 2, 0, 0, 0, 1,
       1, 0, 1, 0, 2, 0, 0, 2, 0, 1, 0, 2, 0, 0, 0, 0, 0, 2, 2, 1, 0, 0,
       2, 1, 0, 0, 0, 0, 1, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 2, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 2, 0, 2, 0, 0, 0, 1, 0, 2,
       1, 2, 0, 1, 0, 0, 2, 0, 0, 0, 0, 2, 2, 2, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 2, 0, 0, 2, 0, 2, 1, 0, 0, 0, 0, 2, 0, 0, 2,
       2, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 1, 0, 2, 0, 0, 0, 2, 2, 0, 0,
       0, 1, 2, 0, 0, 2, 0, 1, 0, 0, 0, 0, 0, 2, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 2, 0, 2, 0, 0, 0, 1, 1, 0, 2, 0, 1, 2,
       2, 0, 0, 0, 2, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 2, 0, 2, 0, 0,
       0, 1, 0, 0, 0, 0, 2, 0, 0, 2, 2, 1, 0, 0, 0, 0, 0, 2, 2, 0, 1, 2,
       1, 0, 0, 2, 0, 0, 1, 1, 0, 2, 0, 0, 1, 0, 2, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 2, 0, 0, 0, 0, 1, 2, 0, 0, 1, 0, 2, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 2, 0, 0, 0, 2, 0, 2, 0, 0,
       0, 0, 0, 1, 2, 2, 0, 1, 0, 1, 0, 0, 2, 1, 0, 2, 2, 2, 1, 1, 2, 0,
       0, 2, 0, 2, 2, 0, 2, 1, 0, 0, 2, 0, 2, 1, 2, 0, 0, 2, 0, 0, 2, 2,
       2, 0, 0, 0, 1, 1, 0, 0, 2, 0, 0, 2, 1, 0, 2, 0, 0, 0, 2, 0, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 2, 0, 0, 0, 0, 2, 2, 0, 1, 0, 1, 0, 0, 1,
       0, 2, 0, 2, 0, 2, 2, 2, 1, 2, 0, 0, 0, 2, 0, 0, 0, 1, 0, 1, 0, 2,
       2, 0, 0, 0, 0, 0, 0, 0, 2, 1, 0, 1, 0, 0, 2, 0, 0, 0, 2, 0, 0, 2,
       2, 2, 2, 0, 1, 0, 2, 2, 0, 0, 0, 0, 1, 1, 0, 2, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 2, 1, 1, 1, 2, 0, 0, 2, 0, 1, 1, 0, 0, 0, 1, 2, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 2, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       2, 1, 0, 0, 2, 0, 0, 0, 0, 2, 0, 1, 0, 0, 1, 0, 0, 2, 0, 2, 0, 2,
       2, 0, 0, 0, 1, 2, 1, 0, 1, 1, 0, 2, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 2, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 1, 2, 1, 1, 0, 0, 0, 2, 0, 0, 0, 2,
       2, 0, 2, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 2, 2, 0, 2, 0, 0, 0, 0, 1, 2, 0, 0, 0, 0, 0, 1, 2, 0, 0, 0, 2,
       0, 0, 2, 0, 0, 0, 0, 0, 0, 2, 2, 1, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 1], dtype=int32)

5) Obten√ß√£o dos Insights

Adicione os r√≥tulos de cada grupo ao dataframe (antes da normaliza√ß√£o) e chame essa coluna de grupo.

In [100]:
df['grupo'] = kmeans.labels_

Use agora o m√©todo `group_by` do pandas para ver o perfil de cada grupo criado. Fa√ßa a m√©dia dos valores, assim obtendo a informa√ß√£o do centr√≥ide.

In [105]:
df.groupby('grupo').mean()

             Age       Edu  ...  Defaulted  DebtIncomeRatio
grupo                       ...
0      33.817505  1.603352  ...   0.000000         7.964991
1      43.000000  1.931973  ...   0.129252        13.915646
2      31.891566  1.861446  ...   0.987952        13.994578

[3 rows x 8 columns]

O k-means ir√° dividir seus clientes em grupos mutuamente exclusivos, por exemplo, em 3 clusters. Os clientes em cada cluster s√£o semelhantes entre si demograficamente.

**Agora podemos criar um perfil para cada grupo, considerando as caracter√≠sticas comuns de cada cluster!**

Isso que acabamos de fazer √© a an√°lise dos centr√≥ides.